/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling for the body of the page */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'VT323', monospace;
  position: relative; /* Added for positioning elements absolutely within the body */
}

/* Styling for links */
a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: green;
}

/* Snake styling */
.snake {
  background-color: #0c8b1d;
}

/* Background color for the body */
body {
  background-color: #376479;
}

/* Styling for the game board */
#game-board {
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
}

/* Different border styles for the game board */
.game-border-1 {
  border: #8df8c1 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #8df8c1;
}

.game-border-2 {
  border: #71dda5 solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #71dda5;
}

.game-border-3 {
  border: #4BD68E solid 30px;
  border-radius: 20px;
}

.game-border-3 {
  background-color: #c4cfa3;
}

/* Styling for the instruction text */
#instruction-text {
  position: absolute;
  top: 60%;
  color: #333;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
}

/* Styling for the scores display */
.scores {
  display: flex;
  justify-content: space-between;
}

/* Styling for the score text */
#score {
  color: #abb78a;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

/* Styling for the high score text */
#highScore {
  color: #d8ddca;
  display: none;
}

/* Styling for the snake */
.snake {
  border: #1b2838 1px dotted;
}

/* Styling for the food */
.food {
  background-color: #e20e0e;
  border: #e20e0e 5px solid;
}

/* Header styling */
header {
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000; /* Header has a higher z-index than the game board */
  padding: 0 2rem;
}

/* Styling for the navigation bar */
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styling for the logo in the navigation bar */
.navbar .logo a {
  font-size: 3rem;
  font-weight: bold;
}

/* Footer styling */
footer {
  background-color: transparent;
  color: #ccc;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsive design for mobile devices */
@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* Remove bullets from list items */
li {
  list-style: none;
}

/* Styling for links (repeated styles to ensure they are applied) */
a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: green;
}