*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'VT323', monospace;
  position: relative; /* Přidáno */
}

a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover{
  color: green;
}

.snake {
  background-color: #0c8b1d;
}
body {
  background-color: #376479;
}

#game-board {
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
}

.game-border-1 {
  border: #8df8c1 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #8df8c1;
}

.game-border-2 {
  border: #71dda5 solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #71dda5;
}


.game-border-3 {
  border: #4BD68E solid 30px;
  border-radius: 20px;
  
}
#instruction-text {
  position: absolute;
  top: 60%;
  color: #333;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #abb78a;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: #d8ddca;
  display: none;
}

.game-border-3
{
  background-color: #c4cfa3;
}

.snake {
  border: #1b2838 1px dotted;
}

.food {
  background-color: #e20e0e;
  border: #e20e0e 5px solid;
}

/* Header */

header {
  text-align: center;
  justify-content: center;
  position:absolute;
  top: 20px;
  left: 20px;
  z-index: 1000; /* Záhlaví má vyšší z-index než herní pole */
  padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 3rem;
    font-weight: bold;
}

/* footer */

footer {
  background-color: transparent;
  color: #ccc;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsive design */
@media (max-width: 576px) {
  .dropdown_menu{
      left: 2rem;
      width: unset;
  }

}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover{
  color: green;
}