/* Version 1.0 */

/* Reset basic styles and set the default font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Styling for the body of the page */
body {
    height: 100vh;
    background-color: #000;
    background-image: url('https://wallpapers.com/images/hd/mountain-aesthetic-3pbvwsg3h7ksq2li.jpg');
    background-size: cover;
    background-position: center;
}

/* Remove bullets from list items */
li {
    list-style: none;
}

/* Styling for links */
a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: green;
}

/* Header styling */
header {
    position: relative;
    padding: 0 2rem;
}

/* Styling for the navigation bar */
.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styling for the logo in the navigation bar */
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Styling for the links in the navigation bar */
.navbar .links {
    display: flex;
    gap: 2rem;
}

/* Styling for the toggle button in the mobile version */
.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* Styling for the action button */
.action_btn {
    background-color: rgb(69, 71, 69);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* Footer styling */
footer {
    background-color: transparent;
    color: #ccc;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Dropdown menu styling */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

/* Styling for list items in the dropdown menu */
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for the action button in the dropdown menu */
.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Styling for the introduction section */
section#uvod {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

/* Styling for the heading in the introduction section */
#uvod h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Responsive design for tablets and smaller screens */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

/* Responsive design for mobile devices */
@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* Styling for the play button */
#playBTN {
    margin-top: 50px;
    width: 90px;
    height: 30px;
    background-color: green;
}

/* Styles for the container with the 3D model */
.model-container {
    display: flex;
    position: relative;
    width: calc(60% - 20%);
    height: 450px;
    margin: 0 auto;
    pointer-events: none;
}

/* Styles for the 3D model */
spline-viewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
}